<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="copy">
  <form id="form_1" class="form-horizontal" th:action="@{/console/taxon/add/baseinfo}" method="post">
    <input class="hidden" id="base_url" name="base_url" readonly="readonly"></input>
    <input class="hidden" th:field="*{thisTaxon.id}" readonly="readonly"></input>

    <div class="">
      <div class="col-md-6">
        <div class="form-group">
          <label for="scientificname" class="col-sm-4 control-label">学名:</label>
          <div class="col-sm-8">
            <input th:field="*{thisTaxon.scientificname}" type="text" class="form-control" id="scientificname" name="scientificname" placeholder="拉丁名" />
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="authorstr" class="col-sm-4 control-label">命名信息:</label>
          <div class="col-sm-8">
            <input th:field="*{thisTaxon.authorstr}" type="text" class="form-control" id="authorstr" name="authorstr" placeholder="命名人和命名年代" />
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="epithet" class="col-sm-4 control-label">种加词/亚种加词:</label>
          <div class="col-sm-8">
            <input th:field="*{thisTaxon.epithet}" type="text" class="form-control" id="epithet" name="epithet" placeholder="种加词/亚种加词" />
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="nomencode" class="col-sm-4 control-label">命名法规:</label>
          <div class="col-sm-8">
            <input th:field="*{thisTaxon.nomencode}" type="text" class="form-control" id="nomencode" name="nomencode" placeholder="Nomenclatural Code 命名法规: ICZN、ICBN..." />
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="rank" class="col-sm-4 control-label">分类等级:</label>
          <div class="col-sm-8">
            <select th:field="*{thisTaxon.rank.id}" class="form-control select2" id="rank" name="rank.id" style="width: 100%;">

            </select>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="sourcesid" class="col-sm-4 control-label">数据源:</label>
          <div class="col-sm-8">
            <select th:field="*{thisTaxon.sourcesid}" class="form-control select2" id="sourcesid" name="sourcesid" style="width: 100%;">

            </select>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="tci" class="col-sm-4 control-label">tci:</label>
          <div class="col-sm-8">
            <input th:field="*{thisTaxon.tci}" type="text" class="form-control" id="tci" name="tci" placeholder="taxon concept identifier (taxon 概念标识)" />
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="taxaset" class="col-sm-4 control-label">所属分类单元集:</label>
          <div class="col-sm-8">
            <select  th:field="*{thisTaxon.taxaset.id}" class="form-control select2" id="taxaset" name="taxaset.id" style="width: 100%;">

            </select>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="form-group">
          <label for="remark" class="col-sm-2 control-label">备注:</label>
          <div class="col-sm-10 col-md-10">
            <input th:field="*{thisTaxon.remark}" type="text" class="form-control" id="remark" name="remark" placeholder="备注信息" />
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="form-group">
          <label for="refjson" class="col-sm-2 control-label">参考文献:</label>
          <div class="col-sm-10 col-md-10">
            <select multiple="multiple" size="10" name="refjson" id="refjson" class="form-control">
            </select>
          </div>
          </div>
        </div>
      </div>
  </form>
</th:block>
</html>