<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <title th:text="#{web_title}">BioIDE</title>
    <link rel="shortcut icon" th:href="@{/images/logo-black.png}" href="/images/logo.png" type="images/x-icon"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="description" content=""/>
    <!-- 引入css -->
    <th:block th:replace="pageFrame/basicsCss :: copy"></th:block>
</head>
<body class="hold-transition skin-dark fixed sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">
    <header id="header" class="main-header">
        <!-- 引入Header -->
        <th:block th:replace="pageFrame/basicsHeader :: copy"></th:block>
    </header>
    <!-- 引入 Left side column. contains the sidebar -->
    <th:block th:replace="pageFrame/basicsMenu :: copy"></th:block>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                新建分类单元
                <small>添加一个新的分类单元</small>
            </h1>
            <ol class="breadcrumb">
                <li><a th:href="@{/}" href="/"><i class="fa fa-home"></i> Home</a></li>
                <li><a th:href="@{/}" href="/"><i class="fa fa-users"></i> 团队名称</a></li>
                <li><a th:href="@{/}" href="/"><i class="fa fa-database"></i> 数据集名称</a></li>
                <li><a th:href="@{/}" href="/"><i class="fa fa-cube"></i> 分类单元管理</a></li>
                <li class="active"><i class="fa fa-plus"></i> 新建</li>
            </ol>
        </section>
        <!-- Main content -->
        <section class="content">
            <div class="box box-default box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">操作</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <a class="btn btn-app" th:href="@{/console/taxon/add}" href="/taxon/add">
                        <i class="fa fa-plus"></i> 新建
                    </a>
                    <a class="btn btn-app" onclick="editSelectObject('taxon');">
                        <i class="fa fa-edit"></i> 修改
                    </a>
                    <a class="btn btn-app" onclick="removeSelectObject('taxon');">
                        <i class="fa fa-remove"></i> 删除
                    </a>
                </div>
                <!-- /.box-body -->
            </div>
            <div class="table table-responsive">
                <table
                        id="results_table"
                        data-locale="zh-CN"
                        data-classes="table table-hover table-condensed"
                        data-toggle="table"
                        th:attr="data-url=@{/super/team/rest/list}"
                        data-pagination="true"
                        data-side-pagination="server"
                        data-page-list="[10, 20, 30, 50, 100]"
                        data-search="true"
                        data-show-columns="true"
                        data-show-toggle="true"
                        data-toolbar="#toolbar"
                        data-show-export="false"
                        data-show-refresh="true"
                        data-export-types="['excel', 'txt']">
                    <thead>
                    <tr>
                        <th data-field="select" data-align="center" data-sortable="false"></th>
                        <th data-field="name" data-align="center" data-sortable="true">团队名称</th>
                        <th data-field="leader" data-align="center" data-sortable="true">团队负责人</th>
                        <th data-field="adddate" data-align="center" data-sortable="true">注册时间</th>
                        <th data-field="edit" data-align="center" data-sortable="false">操作</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <footer class="main-footer">
        <th:block th:replace="pageFrame/basicsFooter :: copy"></th:block>
    </footer>
    <!-- Control Sidebar -->
    <th:block th:replace="pageFrame/basicsControl :: copy"></th:block>
    <!-- /.control-sidebar -->
    <!-- Add the sidebar's background. This div must be placed
         immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>
</div>
<!-- 引入js【body末尾引入js文件会使页面加载更快】 -->
<th:block th:replace="pageFrame/basicsJs :: copy"></th:block>
</body>
</html>
