<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<!--
    Title:添加DataSet页面
    Description：添加DataSet页面
    Author：BINZI
    Created date: 2018/04/11 14:51
    Copyright: The Research Group of Biodiversity Informatics (BiodInfo Group) - 中国科学院动物研究所生物多样性信息学研究组
    Version: Html5
 -->
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <title>BioIDE &nbsp;物种数据采集系统</title>
    <link rel="shortcut icon" th:href="@{/img/logo.png}" href="/images/logo.png" type="images/x-icon"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="description" content=""/>
    <!-- 引入css -->
    <th:block th:replace="pageFrame/basicsCss :: copy"></th:block>
</head>

<body>
	<!-- 内容区 -->
	<div class="col-md-12">
		<p></p>
		<form id="addForm" class="form-horizontal" th:action="@{/console/datasource/save}" method="post" th:object="${thisDatasource}">
			<input class="hidden" id="datasourceId" name="datasourceId" th:value="${sourcesId}"></input>
			<input class="hidden" id="descriptionFormNum" name="descriptionFormNum" th:value="${descriptionFormNum}"></input>
			<!-- 引入form -->
			<th:block th:replace="citation/datasourcesForm :: copy"></th:block>
			<p></p>
			<div class="form-group">
				<div class="col-sm-12">
					<div class="pull-right">
						<a class="btn btn-app" onclick="clearInput();">
							<i class="fa fa-rotate-left"></i> <span>清空表单</span>
						</a>
						<a class="btn btn-app" onclick="addDatasource();">
							<i class="fa fa-check"></i> <span>提交</span>
						</a>
					</div>
				</div>
			</div>
		</form>
	</div>
<!-- 引入js -->
<th:block th:replace="pageFrame/basicsJs :: copy"></th:block>
<script>
    //清空表单
    function clearInput() {
        $('#addForm')[0].reset();
        $('#addForm').data('bootstrapValidator')
            .updateStatus('versions', 'NOT_VALIDATED',null)
            .updateStatus('title', 'NOT_VALIDATED',null)
            .updateStatus('info', 'NOT_VALIDATED',null)
            .updateStatus('versions', 'NOT_VALIDATED',null)
            .validateField('title')
            .validateField('info');
    };
    //后端验证错误提示
    $(document).ready(function () {
        if($('#errorMsg').val()==""||$('#errorMsg').val()==null){
        }
        else{
            layer.msg($('#errorMsg').val(), function(){
            });
        }
    });
</script>
<!-- bootstrapValidator -->
<script th:src="@{/plugins/bootstrapValidator/js/bootstrapValidator.min.js}"></script>
<th:block th:if="${#locale.getLanguage().equals('zh')}">
    <script th:src="@{/plugins/bootstrapValidator/js/language/zh_CN.js}"></script>
</th:block>
<!-- page_script -->
<script th:inline="javascript">
    /*<![CDATA[*/
    var warning_Illegal= [[#{warning_Illegal}]];
    /*]]>*/
</script>
<script>
    //前端验证错误提示
    $(document).ready(function() {
        //获取host
	    $("#base_url").val(window.location.host);
        $('#addForm').bootstrapValidator({
            message: 'This value is not valid',
            feedbackIcons: {
                valid: 'glyphicon ',
                invalid: 'glyphicon ',
                validating: 'glyphicon glyphicon-refresh'
            }
         });
        
        $("#addForm").bootstrapValidator("addField", "versions", {
            validators: {
                notEmpty: {},
                stringLength: {
                    min: 0,
                    max: 15
                },
                regexp: {
                    regexp: /^[\da-zA-Z_\u4e00-\u9f5a，。,.【】]+$/,
                    message: warning_Illegal
                }
            }
        });
        $("#addForm").bootstrapValidator("addField", "title", {
            validators: {
                notEmpty: {},
                stringLength: {
                    min: 1,
                    max: 30,
                },
                regexp: {
                    regexp: /^[\da-zA-Z_\u4e00-\u9f5a，。,.【】]+$/,
                    message: warning_Illegal
                }
            }
        });
        $("#addForm").bootstrapValidator("addField", "info", {
            validators: {
            	stringLength: {
                    min: 0,
                    max: 100
                },
                regexp: {
                    regexp: /^[\da-zA-Z_\u4e00-\u9f5a，。,.【】]+$/,
                    message: warning_Illegal
                }
            }
        });
    });
</script>
<script type="text/javascript">
/* 添加Datasource */
function addDatasource() {
	if ($('#addForm').data('bootstrapValidator').isValid()) {
		layer.load(2);
		var obj = $('#addForm').serialize();
		var sourcesId = $("#datasourceId").val();
		var descriptionFormNum = $("#descriptionFormNum").val();
		$.ajax({
	        type: "POST",
	        url: "console/datasource/rest/new",
	        data: obj,	// 要提交的表单
	        dataType: "json",
	        contentType : 'application/x-www-form-urlencoded; charset=UTF-8',
	        success: function (rsl) {
	      	if (rsl.result == true) {
	      		parent.$("#" + sourcesId).prepend("<option value='" + rsl.newId + "' selected='selected'>" + rsl.newTitle+"</option>");
	            /* parent.$('#' + descriptionFormNum).data('bootstrapValidator').updateStatus(sourcesId, 'NOT_VALIDATED',null).validateField(sourcesId); */
	            parent.layer.close(parent.layer.getFrameIndex(window.name));
	      		layer.msg("添加成功！", {time: 1000});
				}else{
					layer.msg("添加失败！", {time: 1000});
				}
	        }
	      });
	}
};
</script>
</body>
</html>
