<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <title th:text="#{web_title}">BioIDE</title>
    <link rel="shortcut icon" th:href="@{/images/logo-black.png}" href="/images/logo.png" type="images/x-icon"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="description" content=""/>
    <!-- 引入css -->
    <span th:replace="pageFrame/basicsCss :: copy" />
</head>
<body class="hold-transition skin-dark fixed sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">
    <header id="header" class="main-header">
        <!-- 引入Header -->
        <span th:replace="pageFrame/basicsHeader :: copy" />
    </header>
    <!-- 引入 Left side column. contains the sidebar -->
    <span th:replace="pageFrame/basicsMenu :: copy" />
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1><span th:text = ${team.name}>团队名称</span>
                <small><span th:text = ${team.note}>团队备注</span></small>
                <input type="text" class="hidden" id="tid" name="tid" th:value="${tid}">
            </h1>
            <ol class="breadcrumb">
                <li><a th:href="@{/}" href="/"><i class="fa fa-home"></i> 首页</a></li>
                <li><a th:href="@{/console/}+ ${team.id}" th:text = "${team.name}" class="active"><i class="fa fa-teams"></i> 团队名称</a></li>
            </ol>
        </section>
        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-lg-3 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-gray">
                        <div class="inner">
                            <h3>3<sup style="font-size: 20px">个</sup></h3>
                            <p>成员</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-users"></i>
                        </div>
                        <a th:href="@{/console/dataset}" class="small-box-footer">
                            查看详情 <i class="fa fa-arrow-circle-right"></i>
                        </a>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-gray">
                        <div class="inner">
                            <h3>69<sup style="font-size: 20px">个</sup></h3>

                            <p>数据集</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-database"></i>
                        </div>
                        <a href="#" class="small-box-footer">
                            数据集管理 <i class="fa fa-arrow-circle-right"></i>
                        </a>
                    </div>
                </div>
                <!-- ./col -->
            </div>
            <div class="row">
                <div class="col-lg-3 col-xs-6">
                    <div class="box box-widget widget-user">
                        <div class="widget-user-header bg-black" style="height: 90px; background: url('/img/dataset-bg.jpg') center center;">
                            <h3 class="widget-user-username" style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;" >新建数据集</h3>
                            <h5 class="widget-user-desc" style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;" >&nbsp;</h5>
                        </div>
                        <div class="box-body" style="min-height: 103px">
                            <h1 class="text-center"><a th:href="@{/console/dataset/add}" ><i class="fa fa-plus"></i></a></li></h1>
                        </div>
                        <div class="box-footer no-padding">
                            <ul class="nav nav-stacked">
                                <li><a class="btn btn-block bg-gray" th:href="@{/console/dataset/add}">新建</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-xs-6" th:each="dataset : ${dsList}">
                    <div class="box box-widget widget-user">
                        <div class="widget-user-header bg-black" style="height: 90px; background: url('/img/dataset-bg.jpg') center center;">
                            <h3 class="widget-user-username" th:text = "${dataset.dsname}" style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;" >数据集名</h3>
                            <h5 class="widget-user-desc" th:text = "${dataset.dsabstract}" style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;" >数据集备注</h5>
                        </div>
                        <div class="box-body">
                            <ul class="nav nav-stacked">
                                <li>分类单元 <span class="pull-right badge bg-gray">5</span></li>
                                <li>描述信息 <span class="pull-right badge bg-gray">7</span></li>
                                <li>媒体数据 <span class="pull-right badge bg-gray">7</span></li>
                                <li>分类树集 <span class="pull-right badge bg-gray">842</span></li>
                            </ul>
                        </div>
                        <div class="box-footer no-padding">
                            <ul class="nav nav-stacked">
                                <li><a class="btn btn-block bg-gray" th:href="@{/change/dataset/}+${dataset.id}">进入</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
			</div>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <footer class="main-footer">
        <span th:replace="pageFrame/basicsFooter :: copy" />
    </footer>
    <!-- Control Sidebar -->
    <span th:replace="pageFrame/basicsControl :: copy" />
    <!-- /.control-sidebar -->
    <!-- Add the sidebar's background. This div must be placed
         immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>
</div>
<!-- 引入js【body末尾引入js文件会使页面加载更快】 -->
<span th:replace="pageFrame/basicsJs :: copy" />
</body>
</html>
