<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <title>BioIDE</title>
    <link rel="shortcut icon" th:href="@{/images/logo-black.png}" href="/images/logo.png" type="images/x-icon"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="description" content=""/>
    <!-- 引入css -->
    <span th:substituteby="pageFrame/basicsCss :: copy" />
</head>
<header id="header" class="header header--fixed hide-from-print" role="banner">
    <!-- 引入Menu -->
    <span th:substituteby="pageFrame/basicsMenu :: copy" />
</header>
<br/>
<br/>
<div class="">
    <div id="slide-banner" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#slide-banner" data-slide-to="0" class="active"></li>
            <li data-target="#slide-banner" data-slide-to="1"></li>
            <li data-target="#slide-banner" data-slide-to="2"></li>
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <iframe th:src="@{/banner/introduce}" src="banner/introduce" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen="" scrolling="no"></iframe>
            </div>
            <div class="item">
                <iframe th:src="@{/banner/introduce}" src="banner/introduce" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen="" scrolling="no"></iframe>
            </div>
            <div class="item">
                <iframe th:src="@{/banner/introduce}" src="banner/introduce" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen="" scrolling="no"></iframe>
            </div>
        </div>
    </div>
</div>

<article>
    <div class="container">
        <h2>BioIDE</h2>
        <p class="complimentary">Note: This is BioIDE.</p>

        <h2>What's it all about?</h2>

        <p>BioIDE is th best !!!!!!</p>

        <h3>Why use it?</h3>

        <p>BioIDE is th best !!!!!!</p>
        <p>BioIDE is th best !!!!!!</p>
        <p>BioIDE is th best !!!!!!</p>

        <h3>How does it work?</h3>

        <p>BioIDE is th best !!!!!!</p>

    </div>
</article>
<br/>
<footer>
    <!-- 引入Footer -->
    <span th:substituteby="pageFrame/basicsFooter :: copy" />
    <!-- 引入Copyright -->
    <span th:substituteby="pageFrame/basicsCopyright :: copy" />
</footer>
<!-- 引入js【body末尾引入js文件会使页面加载更快】 -->
<span th:substituteby="pageFrame/basicsJs :: copy" />
</body>
</html>
