<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <title>BioIDE</title>
    <link rel="shortcut icon" th:href="@{/images/logo-black.png}" href="/images/logo.png" type="images/x-icon"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="description" content=""/>
    <!-- 引入css -->
    <span th:replace="pageFrame/basicsCss :: copy" />
</head>
<body class="hold-transition login-page">
<div class="login-box">
    <div class="login-logo">
        <a th:href="@{/}" href="/"><b>Bio</b>IDE</a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
        <p class="login-box-msg">Sign in to start your session</p>

        <form th:action="@{/login}" action="/go" method="post">
            <div class="form-group has-feedback">
                <input id="username" name="username" class="form-control" placeholder="UserName">
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" id="password" name="password" class="form-control" placeholder="Password">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="text" class="form-control" id="token" name="token" placeholder="Please input the token">
                <span class="glyphicon glyphicon-barcode form-control-feedback"></span>
                <p></p>
                <div>
                    <i>
                        <img style="height:32px;" id="codeImg" alt="点击更换" title="点击更换" th:src="@{/captchaImg}" />
                    </i>
                </div>
            </div>
            <div th:if="${loginError} == 1" class="alert alert-warning alert-dismissible fade in" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4>错误提示</h4>
                <p th:text="${loginErrorMsg}"></p>
            </div>

            <div class="form-group pull-right">
                <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
            </div>
        </form>
        <div class="social-auth-links text-center">
            <p></p>
            <a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-user-plus"></i> Register a new membership</a>
            <a href="#" class="btn btn-block btn-social btn-bitbucket btn-flat"><i class="fa fa-key"></i> I forgot my password</a>
        </div>

    </div>
    <!-- /.login-box-body -->
</div>
<!-- 引入js【body末尾引入js文件会使页面加载更快】 -->
<span th:replace="pageFrame/basicsJs :: copy" />
</body>
</html>
