<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<!--
    Title:登录页
    Description：登录页
    Author：WangTianshan (王天山)
    Created date: 2017/9/15 21:35
    Copyright: The Research Group of Biodiversity Informatics (BiodInfo Group) - 中国科学院动物研究所生物多样性信息学研究组
    Version: Html5
 -->
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
	<title>BioIDE &nbsp;物种数据采集系统</title>
    <link rel="shortcut icon" th:href="@{/images/logo-black.png}" href="/images/logo.png" type="images/x-icon"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="description" content=""/>
    <!-- 引入css -->
    <span th:replace="pageFrame/basicsCss :: copy" />
</head>
<body class="hold-transition login-page">
<div class="login-box">
    <!-- login-logo -->
    <div class="login-logo">
        <a th:href="@{/}" href="/">
        <b>Bio</b>IDE</a>
    </div>
    <!-- login-box-body -->
    <div class="login-box-body">
        <p class="login-box-msg">用户登录</p>

        <form th:action="@{/login}" onkeydown="if(event.keyCode==13) return submitForm();" method="post">
        	<div th:if="${not #lists.isEmpty(activeMsg)}" class="well well-sm" th:text="${activeMsg}"></div>
            <!-- 用户名 -->
            <div class="form-group has-feedback">
                <input id="username" name="username" class="form-control" placeholder="用户名">
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>
            <!-- 密码 -->
            <div class="form-group has-feedback">
                <input type="password" id="password" name="password" class="form-control" placeholder="密    码">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <!-- 验证码 -->
            <div class="form-group has-feedback">
                <input type="text" class="form-control" id="token" name="token" placeholder="输入下方验证码">
                <span class="glyphicon glyphicon-barcode form-control-feedback"></span>
                <p></p>
                <div>
                    <i>
                        <img style="height:32px;" id="codeImg" alt="点击更换" title="点击更换" th:src="@{/captchaImg}" />
                        <a href="javascript:void(0);" onclick="reImg()">看不清，换一张</a>
                    </i>
                </div>
            </div>
            <!-- 错误提示 -->
            <p th:text="${login_error}"></p>
            <div th:if="${loginError} == 1" class="alert alert-warning alert-dismissible fade in" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4>错误提示</h4>
                <p th:text="${loginErrorMsg}"></p>
            </div>
			<!-- 登录 -->
            <div class="form-group pull-right">
                <button type="submit" class="btn btn-primary btn-block btn-flat">登录</button>
            </div>
        </form>
        <!-- 表单下的链接 -->
        <div class="social-auth-links text-center">
            <p></p>
            <a th:href="@{/register}" href="user/register.html" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-user-plus"></i> 注册一个账户</a>
            <a th:href="@{/password/forgot}" href="user/forget.html" class="btn btn-block btn-social btn-bitbucket btn-flat"><i class="fa fa-key"></i> 忘记|修改密码</a>
        </div>
    </div>
</div>
<!-- 引入js【body末尾引入js文件会使页面加载更快】 -->
<span th:replace="pageFrame/basicsJs :: copy" />
<!-- page_script -->
<script type="text/javascript">
    function reImg(){
        var img = document.getElementById("codeImg");
        img.src = "captchaImg";
        document.getElementById('codeImg').src = '/captchaImg?code='+Math.random();
    }
</script>
</body>
</html>
