<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <title>BioIDE</title>
    <link rel="shortcut icon" th:href="@{/images/logo-black.png}" href="/images/logo.png" type="images/x-icon"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="description" content=""/>
</head>
<body>
<!-- 引入js【body末尾引入js文件会使页面加载更快】 -->
<span th:replace="pageFrame/basicsJs :: copy" />
    <script>
        test();
        function test() {
            alert("000000");
        //$.get("http://www.sp2000.org.cn/api/family/familyName/familyID/蔷薇科/23E23E23E",
        $.get("http://127.0.0.1:8081/api/family/familyName/familyID/蔷薇科/23E23E23E",
            {},
            function(data,status){
                if(status){
                    alert("111111");
                    alert(data);
                }
                else{
                    alert("-1");
                }
            });
        }
    </script>
</body>
</html>
