<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<!--
    Title:添加新用户页
    Description：超级管理员权限可见的添加新用户页
    Author：WangTianshan (王天山)
    Created date: 2017/9/15 21:35
    Copyright: The Research Group of Biodiversity Informatics (BiodInfo Group) - 中国科学院动物研究所生物多样性信息学研究组
    Version: Html5
 -->
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <title>BioIDE</title>
    <link rel="shortcut icon" th:href="@{/images/logo-black.png}" href="/images/logo.png" type="images/x-icon"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="description" content=""/>
    <!-- 引入css -->
    <span th:replace="pageFrame/basicsCss :: copy" />
</head>
<body class="hold-transition skin-blue fixed sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">
    <header id="header" class="main-header">
        <!-- 引入Header -->
        <span th:replace="pageFrame/basicsHeader :: copy" />
    </header>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                团队管理
                <small>在这里您可以对您的团队成员进行管理</small>
            </h1>
            <ol class="breadcrumb">
                <li><a th:href="@{/}" href="/"><i class="fa fa-home"></i> Home</a></li>
                <li><a th:href="@{/super/user}" href="user"><i class="fa fa-users"></i> 团队管理</a></li>
                <li class="active"><i class="fa fa-user-plus"></i> 添加成员</li>
            </ol>
        </section>
        <!-- Main content -->
        <section class="content">
            <div class="well">
                <form id="thisForm" class="form-horizontal"
                      th:action="@{/super/user/save}"
                      method="post" th:object="${thisUser}">
                    <!-- 引入form -->
                    <span th:substituteby="user/form :: copy" />
                    <p></p>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <div class="pull-right">
                                <a class="btn btn-app" th:href="@{/super/user}" href="/user">
                                    <i class="fa fa-chevron-left"></i> 取消编辑
                                </a>
                                <a class="btn btn-app" onclick="clearInput();">
                                    <i class="fa fa-rotate-left"></i> 清空表单
                                </a>
                                <button type="submit" class="btn btn-app">
                                    <i class="fa fa-check"></i> 提交
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </div>
    <!-- 引入 Left side column. contains the sidebar -->
    <span th:replace="pageFrame/basicsMenu :: copy" />
    <footer class="main-footer">
        <span th:replace="pageFrame/basicsFooter :: copy" />
    </footer>
    <!-- Control Sidebar -->
    <span th:replace="pageFrame/basicsControl :: copy" />
    <!-- /.control-sidebar -->
    <!-- Add the sidebar's background. This div must be placed
         immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>
</div>
<!-- 引入js【body末尾引入js文件会使页面加载更快】 -->
<span th:replace="pageFrame/basicsJs :: copy" />
<!-- page_script -->
<script th:src="@{/js/superTableScript.js}"></script>
</body>
</html>
