<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="copy" >
    <input class="hidden" id="base_url" name="base_url" readonly="readonly"></input>
    <input class="hidden" th:field="*{id}" readonly="readonly"></input>
    <input class="hidden" th:field="*{role}" readonly="readonly"></input>
    <div th:if="${not #strings.isEmpty(thisUser.adddate)}">
        <input class="hidden" th:field="*{adddate}" readonly="readonly"></input>
    </div>
    <div class="form-group">
        <label for="userName" class="col-sm-2 control-label">UserName:</label>
        <div class="col-sm-10 col-md-10">
            <input th:field="*{userName}" type="text" class="form-control" id="userName" name="userName" placeholder="Please input the number and letter combination of 3~30 characters" />
        </div>
    </div>
    <div class="form-group">
        <label for="password" class="col-sm-2 control-label">Password:</label>
        <div class="col-sm-10 col-md-10">
            <input th:field="*{password}" type="text" class="form-control" id="password" name="password" placeholder="Please input the number and letter combination of 3~30 characters" />
        </div>
    </div>
    <div class="form-group">
        <label for="nickname" class="col-sm-2 control-label">UserName:</label>
        <div class="col-sm-10 col-md-10">
            <input th:field="*{nickname}" type="text" class="form-control" id="nickname" name="nickname" placeholder="Please input the number and letter combination of 3~30 characters" />
        </div>
    </div>
    <div class="form-group">
        <label for="email" class="col-sm-2 control-label">Email:</label>
        <div class="col-sm-10 col-md-10">
            <input th:field="*{email}" type="text" class="form-control" id="email" name="email" placeholder="Please input the email" />
        </div>
    </div>
    <div class="form-group">
        <label for="phone" class="col-sm-2 control-label">Phone:</label>
        <div class="col-sm-10 col-md-10">
            <input th:field="*{phone}" type="text" class="form-control" id="phone" name="phone" placeholder="Please input the phone" />
        </div>
    </div>
</div>
</html>
