<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<!--
    Title:登录页
    Description：登录页
    Author：WangTianshan (王天山)
    Created date: 2017/9/15 21:35
    Copyright: The Research Group of Biodiversity Informatics (BiodInfo Group) - 中国科学院动物研究所生物多样性信息学研究组
    Version: Html5
 -->
<head>
	<meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
	<title th:text="#{web_title}">BioIDE</title>
    <link rel="shortcut icon" th:href="@{/img/logo.png}" href="/images/logo.png" type="images/x-icon"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="description" content=""/>
    <!-- 引入css -->
    <span th:replace="pageFrame/basicsCss :: copy" />
</head>

<body class="hold-transition skin-leaf fixed layout-top-nav">
<!-- Site wrapper -->
<div class="wrapper">
   <!-- <header id="header" class="main-header main-header animated headroom--not-bottom slideDown headroom--top">
        引入Header
        <span th:replace="pageFrame/basicsHeader :: copy" />
    </header> -->
    <!-- 引入loginModal -->
    <th:block th:if="${#lists.isEmpty(session.SPRING_SECURITY_CONTEXT)}" th:replace="user/loginModal :: copy"></th:block>
    <!-- 引入logoutModal -->
    <th:block th:if="${not #lists.isEmpty(session.SPRING_SECURITY_CONTEXT)}" th:replace="user/logoutModal :: copy"></th:block>
    <!-- Content Wrapper. Contains page content -->
	<div class="content-wrapper">
		<!-- Main content -->
		<section class="content">
	    	<div class="register-box">
				<div class="register-logo">
		            Bio<b>IDE</b>
		            <p><h4 th:text="#{abstract_title}">物种数据采集系统</h4></p>
		        </div>
				<div th:if="${#lists.isEmpty(session.SPRING_SECURITY_CONTEXT)}" class="register-box-body">
		            <p class="login-box-msg" th:text="#{register_subtitle}">Register a new membership</p>
					
					<form id="register_form" th:action="@{/register/new}" action="register/new" method="post" th:object="${newUser}">
                        <input id="errorMsg" th:value="${errorMsg}" class="hidden" readonly="readonly"></input>
                        <input class="hidden" id="base_url" name="base_url" readonly="readonly"></input>
                        <input class="hidden" th:field="*{id}" readonly="readonly"></input>
                        <input class="hidden" th:field="*{role}" readonly="readonly"></input>
                        <div th:if="${not #strings.isEmpty(newUser.dtime)}">
                            <input class="hidden" th:field="*{dtime}" readonly="readonly"></input>
                        </div>
                        <input class="hidden" th:field="*{score}" readonly="readonly"></input>
                        <input class="hidden" th:field="*{level}" readonly="readonly"></input>
                        <input class="hidden" th:field="*{uploadnum}" readonly="readonly"></input>
                        <input class="hidden" th:field="*{idnum}" readonly="readonly"></input>
                        <input class="hidden" th:field="*{avatar}" readonly="readonly"></input>
                        <input class="hidden" th:field="*{mark}" readonly="readonly"></input>
                        <div class="form-group has-feedback">
                            <input th:field="*{userName}" id="r_username" name="userName" type="text" class="form-control" placeholder="Username" th:attr="placeholder=#{register_username}">
                            <span class="glyphicon glyphicon-user form-control-feedback"></span>
                        </div>
                        <div class="form-group has-feedback">
                            <input th:field="*{email}" id="r_email" name="email" type="text" class="form-control" placeholder="Email" th:attr="placeholder=#{register_email}">
                            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                        </div>
                        <div class="form-group has-feedback">
                            <input th:field="*{password}" id="pwd" name="password" type="password" class="form-control" placeholder="Password" th:attr="placeholder=#{register_password}">
                            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                        </div>
                        <div class="form-group has-feedback">
                            <input id="repassword" type="password" name="repassword" class="form-control" placeholder="Retype password" th:attr="placeholder=#{register_repassword}">
                            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                        </div>
                        <div class="form-group has-feedback">
                            <input th:field="*{mobile}" id="r_mobile" name="mobile" type="text" class="form-control" placeholder="mobile" th:attr="placeholder=#{register_mobile}">
                            <span class="glyphicon glyphicon-phone form-control-feedback"></span>
                        </div>
                        <div class="form-group has-feedback">
                            <input th:field="*{nickname}" id="r_nickname" name="nickname" type="text" class="form-control" placeholder="nickname" th:attr="placeholder=#{register_nickname}">
                            <span class="fa fa-smile-o form-control-feedback"></span>
                        </div>
                        <div class="form-group has-feedback">
                            <input type="text" class="form-control" id="r_token" name="token" th:attr="placeholder=#{token}" placeholder="Please input the token">
                            <span class="glyphicon glyphicon-barcode form-control-feedback"></span>
                            <p></p>
                           <div>
                                <i>
                                	<img style="height:32px;" id="codeImg_register" th:src="@{/captchaImg}" src="/captchaImg" />
                                    <a th:text="#{change_token}" href="javascript:void(0);" onclick="reImg();">看不清，换一张</a>
	                            </i>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-8">
                                <div class="checkbox icheck">
                                    <div class="form-group">
                                        <label>
                                            <input id="agreeTerms" name="agreeTerms" type="checkbox"> <span th:text="#{register_agree}">I agree to the</span>
                                            <a href="#" class="dropdown-toggle" data-toggle="modal" data-target="#modal-terms" th:text="#{register_terms}">terms</a>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group pull-right">
                                <button type="submit" class="btn btn-primary btn-block btn-flat" disabled="disabled" th:text="#{register_register}">Register</button>
                            </div>
                        </div>
                        <div class="row">
                        </div>
                    </form>
                    <div class="social-auth-links text-center">
                        <p>- OR -</p>
                        <a href="#" class="text-center dropdown-toggle"  data-toggle="modal" data-target="#modal-login"  th:text="#{register_login}">I already have a membership</a>
                    </div>
                </div>

                <div th:if="${not #lists.isEmpty(session.SPRING_SECURITY_CONTEXT)}" class="register-box-body">
                    <p class="login-box-msg" th:text="#{register_login}">register_login</p>
                    <div class="social-auth-links text-center">
                        <a href="#" data-toggle="modal" data-target="#modal-logout" class="text-center" th:text="#{logout}">注销</a>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div class="modal fade" id="modal-terms">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button id="closeTerms" type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 th:text="#{register_terms}" class="modal-title">terms</h4>
                </div>
                <div class="modal-body">
                    <p>这里是试用协议：哈哈哈哈哈</p>
                    <p>这里是试用协议：哈哈哈哈哈</p>
                    <p>这里是试用协议：哈哈哈哈哈</p>
                    <p>这里是试用协议：哈哈哈哈哈</p>
                    <p>这里是试用协议：哈哈哈哈哈</p>
                    <p>这里是试用协议：哈哈哈哈哈</p>
                    <p>这里是试用协议：哈哈哈哈哈</p>
                    <p>这里是试用协议：哈哈哈哈哈</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal" th:text="#{cancel}">取消</button>
                    <button type="button" class="btn btn-primary" th:text="#{agree}" onclick="agreeTerms();">I agree</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
    </div>

    <footer class="">
        <span th:replace="pageFrame/basicsFooter :: copy" />
    </footer>
    <!-- Control Sidebar -->
    <span th:replace="pageFrame/basicsControl :: copy" />
    <div class="control-sidebar-bg"></div>
</div>
<!-- 引入js【body末尾引入js文件会使页面加载更快】 -->
<span th:replace="pageFrame/basicsJs :: copy" />
<div th:if="${#lists.isEmpty(session.SPRING_SECURITY_CONTEXT)}">
    <span th:replace="user/loginJs :: copy" />
</div>
<script th:inline="javascript">
    /*<![CDATA[*/
    var warning_rename= [[#{warning_rename}]];
    var warning_remeail= [[#{warning_remeail}]];
    /*]]>*/
</script>
<script>
    function agreeTerms() {
        $('#agreeTerms').attr("checked", true);
        $('#closeTerms').click();
    };
    function reImg(){
        var src='captchaImg.jpg?code='+Math.random();
        /* document.getElementById('codeImg').src = src; */
        document.getElementById('codeImg_register').src = src;
    };
    
    $(document).ready(function() {
        //错误提示
        if($('#errorMsg').val().length>0)
            layer.msg($('#errorMsg').val(), function(){
            });
        //获取host
        $("#base_url").val(window.location.host);
        $('#register_form').bootstrapValidator({
            message: 'This value is not valid',
            feedbackIcons: {
                valid: 'glyphicon ',
                invalid: 'glyphicon ',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                rename: {
                    selector: '#r_username',
                    validators: {
                        notEmpty: {
                        },
                        stringLength: {
                            min: 2,
                            max: 30,
                        },
                        regexp: {
                            regexp: /^[a-zA-Z0-9_\.]+$/,
                            message: warning_name
                        },
                        callback: {
                            message: warning_rename,
                            callback: function(value, validator) {
                                validator_name='register/rest/isReName';
                                $.ajax({
                                    url: 'register/rest/isReName',
                                    data: {
                                        name:$('#r_username').val()},
                                    cache: false,
                                    dataType:"json",
                                    success: function (data) {
                                        if(!data){
                                            validator.updateStatus('rename', 'VALID', 'callback');
                                            return true;
                                        }
                                        else {
                                            return false;
                                        }
                                    },
                                    error: function () {
                                        //alert("error");
                                        return false;
                                    }
                                });
                                return false;
                            }
                        },
                    }
                },
                reemail: {
                    selector: '#r_email',
                    validators: {
                        notEmpty: {
                        },
                        emailAddress: {
                        },
                        stringLength: {
                            min: 6,
                            max: 70,
                        },
                        callback: {
                            message: warning_remeail,
                            callback: function(value, validator) {
                                validator_email='register/rest/isReEmail';
                                $.ajax({
                                    url: 'register/rest/isReEmail',
                                    data: {
                                        email:$('#r_email').val()
                                    },
                                    cache: false,
                                    dataType:"json",
                                    success: function (data) {
                                        if(!data){
                                            validator.updateStatus('reemail', 'VALID', 'callback');
                                            return true;
                                        }
                                        else {
                                            return false;
                                        }
                                    },
                                    error: function () {
                                        //alert("error");
                                        return false;
                                    }
                                });
                                return false;
                            }
                        },
                    }
                },
                pwd: {
                	selector: '#pwd',
                    validators: {
                        notEmpty: {
                        },
                        stringLength: {
                            min: 6,
                            max: 30,
                        },
                        identical: {
                            field: 'repassword',
                        }
                    }
                },
                repassword: {
                	selector: '#repassword',
                    validators: {
                        notEmpty: {
                        },
                        identical: {
                            field: 'pwd',
                        }
                    }
                },
                'mobile': {
                    validators: {
                        notEmpty: {
                        },
                        stringLength: {
                            min: 11,
                            max: 11,
                        },
                        regexp: {
                            regexp:/^1[3|4|5|7|8]\d{9}$/,
                            message: '输入不合法'
                        },
                    }
                },
                'nickname': {
                    validators: {
                        notEmpty: {
                        },
                        stringLength: {
                            min: 1,
                            max: 15,
                        },
                    }
                },
                token: {
                    selector: '#r_token',
                    validators: {
                        notEmpty: {
                        },
                        stringLength: {
                            min: 4,
                            max: 4,
                        },
                        regexp: {
                            regexp: /^[a-zA-Z0-9_\.]+$/,
                            message: warning_name
                        },
                    }
                },
                'agreeTerms': {
                    validators: {
                        notEmpty: {
                        },
                    }
                },
            }
        });
    });
</script>
<script>
    $("#register_form").submit(function(e){
        if($("#register_form").data('bootstrapValidator').isValid()){
            layer.load(2);
        }
    });
</script>
</body>
</html>