<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<!--
    Title:控制台首页
    Description：控制台首页
    Author：WangTianshan (王天山)
    Created date: 2017/9/15 21:35
    Copyright: The Research Group of Biodiversity Informatics (BiodInfo Group) - 中国科学院动物研究所生物多样性信息学研究组
    Version: Html5
 -->
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <title>BioIDE&nbsp;物种数据采集系统</title>
    <link rel="shortcut icon" th:href="@{/img/logo.png}" href="/images/logo.png" type="images/x-icon"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="description" content=""/>
    <!-- 引入css -->
    <span th:replace="pageFrame/basicsCss :: copy" />
</head>
<body class="hold-transition skin-leaf fixed layout-top-nav">
<!-- Site wrapper -->
<div class="">
	<header id="header" class="main-header">
        <!-- 引入Header -->
        <span th:replace="pageFrame/basicsHeader :: copy" />
    </header>
    <!-- 引入loginModal -->
    <th:block th:if="${#lists.isEmpty(session.SPRING_SECURITY_CONTEXT)}" th:replace="user/loginModal :: copy"></th:block>
    <!-- 引入logoutModal -->
    <th:block th:if="${not #lists.isEmpty(session.SPRING_SECURITY_CONTEXT)}" th:replace="user/logoutModal :: copy"></th:block>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Main content -->
        <section class="content">
            <div class="register-box">
                <div class="register-logo">
                    BioIDE
                    <p><h4 th:text="#{abstract_title}">物种数据采集系统</h4></p>
                </div>
                <div th:if="${#lists.isEmpty(session.SPRING_SECURITY_CONTEXT)}" class="register-box-body">
                    <p class="login-box-msg" th:text="#{forgot_password}">forgot_password</p>
                    <form id="forgot_form" th:action="@{/password/resetpwd}" action="password/sendEmail" method="post">
                        <input id="errorMsg" th:value="${errorMsg}" class="hidden" readonly="readonly"></input>
                        <input id="username" name="username" th:value="${username}" class="hidden" readonly="readonly"></input>
                        <input id="mark" name="mark" th:value="${mark}" class="hidden" readonly="readonly"></input>
                        <div class="form-group has-feedback">
                            <b th:text="#{username}"></b>:<span th:text="${username}"></span>
                        </div>
                        <div class="form-group has-feedback">
                            <input id="pwd" name="pwd" type="password" class="form-control" placeholder="Password" th:attr="placeholder=#{register_password}">
                            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                        </div>
                        <div class="form-group has-feedback">
                            <input id="repassword" type="password" name="repassword" class="form-control" placeholder="Retype password" th:attr="placeholder=#{register_repassword}">
                            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group pull-right">
                                <button type="submit" class="btn btn-primary btn-block btn-flat" disabled="disabled" th:text="#{operation_submit}">Register</button>
                            </div>
                        </div>
                        <div class="row">
                        </div>
                    </form>
                </div>

                <div th:if="${not #lists.isEmpty(session.SPRING_SECURITY_CONTEXT)}" class="register-box-body">
                    <p class="login-box-msg" th:text="#{register_login}">register_login</p>
                    <div class="social-auth-links text-center">
                        <a href="#" data-toggle="modal" data-target="#modal-logout" class="text-center" th:text="#{logout}">注销</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <footer class="">
        <span th:replace="pageFrame/basicsFooter :: copy" />
    </footer>
    <!-- Control Sidebar -->
    <span th:replace="pageFrame/basicsControl :: copy" />
    <div class="control-sidebar-bg"></div>
</div>
<!-- 引入js【body末尾引入js文件会使页面加载更快】 -->
<span th:replace="pageFrame/basicsJs :: copy" />
<div th:if="${#lists.isEmpty(session.SPRING_SECURITY_CONTEXT)}">
    <span th:replace="user/loginJs :: copy" />
</div>
<script th:inline="javascript">
    /*<![CDATA[*/
    var warning_Illegal= [[#{warning_Illegal}]];
    /*]]>*/
</script>
<script>
    $(document).ready(function() {
        //错误提示
        if($('#errorMsg').val().length>0)
            layer.msg($('#errorMsg').val(), function(){
            });
        //获取host
        $("#base_url").val(window.location.host);
        $('#forgot_form').bootstrapValidator({
            message: 'This value is not valid',
            feedbackIcons: {
                valid: 'glyphicon ',
                invalid: 'glyphicon ',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                pwd: {
                    validators: {
                        notEmpty: {
                        },
                        stringLength: {
                            min: 6,
                            max: 30,
                        },
                        identical: {
                            field: 'repassword',
                        }
                    }
                },
                repassword: {
                    validators: {
                        notEmpty: {
                        },
                        identical: {
                            field: 'pwd',
                        }
                    }
                },
            }
        });
    });
</script>
<script>
    $("#forgot_form").submit(function(e){
        if($("#forgot_form").data('bootstrapValidator').isValid()){
            layer.load(2);
        }
    });
</script>
</body>
</html>
