<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<section th:fragment="copy">
    <!-- Logo -->
    <a th:href="@{/}" href="/" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><img th:src="@{/img/logo-mini.png}" alt="AS"/></span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><img th:if="${not #lists.isEmpty(session.SPRING_SECURITY_CONTEXT)}" th:src="@{/img/logo-mini.png}" alt="AS"/><b> Notes of Life</b></span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button" th:if="${not #lists.isEmpty(session.SPRING_SECURITY_CONTEXT)}">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
        <div class="container">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                <i class="fa fa-bars"></i>
            </button>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <img class="pull-left" th:if="${#lists.isEmpty(session.SPRING_SECURITY_CONTEXT)}" th:src="@{/img/logo-mini.png}" alt="" height="46px"/>
            <!-- 引入topMenu -->
            <th:block th:replace="pageFrame/topMenu :: copy"></th:block>
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">

                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img th:if="${#lists.isEmpty(session.SPRING_SECURITY_CONTEXT.getAuthentication().getPrincipal().getProfilePicture())}" th:src="@{/img/user-none-160x160.jpg}" class="user-image" alt="User Image">
                            <img th:if="${not #lists.isEmpty(session.SPRING_SECURITY_CONTEXT.getAuthentication().getPrincipal().getProfilePicture())}" th:src="${session.SPRING_SECURITY_CONTEXT.getAuthentication().getPrincipal().getProfilePicture()}" class="user-image" alt="User Image">
                            <span class="hidden-xs">&nbsp;</span>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- User image -->
                            <li class="user-header">
                                <img th:if="${#lists.isEmpty(session.SPRING_SECURITY_CONTEXT.getAuthentication().getPrincipal().getProfilePicture())}" th:src="@{/img/user-none-160x160.jpg}" class="img-circle" alt="User Image">
                                <img th:if="${not #lists.isEmpty(session.SPRING_SECURITY_CONTEXT.getAuthentication().getPrincipal().getProfilePicture())}" th:src="${session.SPRING_SECURITY_CONTEXT.getAuthentication().getPrincipal().getProfilePicture()}" class="img-circle" alt="User Image">
                                <p sec:authentication="name">Name</p>
                            </li>
                            <!-- User Body-->
                            <li class="user-body">
                                <div class="row">
                                    <div class="col-xs-6 text-center">
                                        <a th:text="#{personalpage}" th:href="@{/personal/}+${session.SPRING_SECURITY_CONTEXT.getAuthentication().getPrincipal().getId()}">我的主页</a>
                                    </div>
                                    <div class="hidden col-xs-6 text-center">
                                        <a href="#">我的信息</a>
                                    </div>
                                </div>
                                <!-- /.row -->
                            </li>
                            <!-- User Footer-->
                            <li class="user-footer">
                                <div class="pull-left">
                                    <a th:href="@{/user/info}" class="btn btn-default btn-flat" th:text="#{mydata}">我的数据</a>
                                </div>
                                <div class="pull-right">
                                    <a href="#" data-toggle="modal" data-target="#modal-logout" class="btn btn-default btn-flat" th:text="#{logout}">注销</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</section>
</html>